// Global
@import "global/variables&mixins";
@import "global/base";
@import "global/global";

// Elements
@import "elements/section";

// Layout
@import "layout/navbar";

// Pages
@import "pages/project";

// Fonts
@font-face {
  font-family: "Quick Marker Outline";
  src: url("../src/fonts/quick-marker-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Quick Marker";
  src: url("../src/fonts/quick-marker.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic1-DropShadow";
  src: url("../src/fonts/Prismatic1-DropShadow.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic2-DropFace";
  src: url("../src/fonts/Prismatic2-DropFace.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic3-BaseOutline";
  src: url("../src/fonts/Prismatic3-BaseOutline.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic4-Base";
  src: url("../src/fonts/Prismatic4-Base.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic5-Bottom";
  src: url("../src/fonts/Prismatic5-Bottom.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic6-Right";
  src: url("../src/fonts/Prismatic6-Right.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic7-Left";
  src: url("../src/fonts/Prismatic7-Left.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic8-Top";
  src: url("../src/fonts/Prismatic8-Top.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic9-Inline";
  src: url("../src/fonts/Prismatic9-Inline.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic10-Bevel";
  src: url("../src/fonts/Prismatic10-Bevel.ttf") format("truetype");
}
@font-face {
  font-family: "Prismatic11-Outline";
  src: url("../src/fonts/Prismatic11-Outline.ttf") format("truetype");
}
