.g-section {
  padding: 20px;
  height: calc(100vh - 70px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.layout {
  background-color: #171b1a;
  a {
    color: #fffce9;
  }
}
