.navbar {
  position: fixed;
  width: 100%;
  color: #fffce9;
  mix-blend-mode: difference;
  z-index: 3;
  @include media-breakpoint-up($medium) {
    margin-top: 20px;
  }
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    @include media-breakpoint-up($medium) {
      padding: 0 20px;
    }
    .home-btn {
      display: flex;
      font-family: "Quick Marker", sans-serif;
      font-size: 50px;
      @include media-breakpoint-up($small) {
        font-size: 60px;
      }
      @include media-breakpoint-up($medium) {
        font-size: 78px;
      }
    }
    .menu {
      font-family: "Acumin Pro", sans-serif;
      font-size: 14px;
      display: none;
      @include media-breakpoint-up($small) {
        display: flex;
        align-items: center;
        gap: 20px;
        font-size: 16px;
      }
      @include media-breakpoint-up($medium) {
        gap: 30px;
        font-size: 20px;
      }
      @include media-breakpoint-up($medium) {
        gap: 50px;
        font-size: 22px;
      }
      .menu-item {
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}
