.navbar {
  position: fixed;
  width: 100%;
  color: #fffce9;
  margin-top: 20px;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .home-btn {
      display: flex;
    }
    .menu {
      display: flex;
      align-items: center;
      gap: 50px;
      .menu-item {
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}
