.navbar {
  position: fixed;
  width: 100%;
  color: #fffce9;
  mix-blend-mode: difference;
  margin-top: 20px;
  z-index: 3;
  .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    .home-btn {
      display: flex;
      font-family: "Quick Marker", sans-serif;
      font-size: 78px;
    }
    .menu {
      display: flex;
      align-items: center;
      gap: 50px;
      font-family: "Acumin Pro", sans-serif;
      font-size: 22px;
      .menu-item {
        :hover {
          text-decoration: underline;
        }
      }
    }
  }
}
