.project-page {
  color: #fffce9;
  padding: 75px 20px 0;
  height: calc(100vh - 75px);
  display: grid;
  grid-template-columns: 1fr 1fr;
  overflow: hidden;
  .left-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 25px;
    padding-bottom: 50px;
    align-items: center;
    .mobile-img {
      max-height: 650px;
    }
    .project-text {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      height: 75%;
      align-self: end;
      .project-description {
        margin-bottom: 50px;
      }
      .project-link {
        text-decoration: underline;
      }
    }
  }
  .right-container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 50px;
    max-height: 850px;
    gap: 20px;
  }
}
