//Hero section

.hero-section {
  color: #fffce9;
  mix-blend-mode: difference;
  padding: 20px;
  height: calc(100vh - 250px);
  .logo {
    font-family: "Quick Marker", sans-serif;
    font-size: 78px;
    span {
      opacity: 0;
    }
  }
  .intro {
    margin-top: 20px;
    .layered-font {
      position: relative;
      font-family: "Prismatic4-Base", sans-serif;
      font-size: 28px;
    }
  }
}

//Project section

.project-section {
  color: #fffce9;
  .homepage-footer {
    display: flex;
    justify-content: space-between;
    width: 52vw;
    .white-arrow-down {
      width: 85px;
      height: 60px;
      align-self: center;
    }
  }
  .g-title {
    position: relative;
    font: 150px "Prismatic11-Outline";
    color: #171b1a;
    .second-layer {
      position: absolute;
      font: 150px "Prismatic6-Right";
      top: -13px;
      left: 0;
      color: #e8e1cf;
      &::before {
        content: attr(text);
        font: 150px "Prismatic7-Left";
        position: absolute;
        top: 10px;
        left: 0;
        color: black;
      }
      &::after {
        content: attr(text);
        font: 150px "Prismatic10-Bevel";
        position: absolute;
        top: 11px;
        left: 0;
        color: black;
        z-index: 2;
      }
    }
    &::before {
      content: attr(text);
      font: 150px "Prismatic5-Bottom";
      position: absolute;
      top: 3px;
      left: 0;
      color: #e8e1cf;
    }
    &::after {
      content: attr(text);
      font: 150px "Prismatic8-Top";
      position: absolute;
      top: -9px;
      left: 0;
      color: black;
    }
  }
  .project-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px;
    margin-bottom: 20px;
    &:hover .project-image {
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px black;
    }
    &:hover .project-number,
    &:hover .project-title,
    &:hover .project-description {
      transform: translate(-10px, -10px);
      transition: all 0.3s;
      &::before {
        content: attr(text);
        font: 100px "Prismatic1-DropShadow";
        position: absolute;
        top: 6px;
        left: 0;
        color: black;
        z-index: -1;
      }
    }
    .project-info {
      display: flex;
      .project-number {
        position: relative;
        font: 100px "Prismatic3-BaseOutline";
        z-index: 2;
      }
      .col {
        margin: 0 auto;
        .project-title {
          position: relative;
          font: 100px "Prismatic3-BaseOutline";
          z-index: 2;
          margin-bottom: 20px;
        }
        .project-description {
          color: #fffce9;
          font: 20px "Prismatic4-base";
          p {
            display: flex;
            justify-content: space-between;
          }
        }
        .description-category {
          text-decoration: underline;
          margin-right: 30px;
        }
      }
    }
    .project-image {
      height: calc(50vh);
      transition: all 0.3s;
    }
  }
}

//About section

.about-section {
  background-color: #00272b;
  color: #fffce9;
  height: calc(100vh - 75px);
  padding-top: 75px;
  .g-title {
    position: relative;
    font: 150px "Prismatic11-Outline";
    color: #00272b;
    .second-layer {
      position: absolute;
      font: 150px "Prismatic6-Right";
      top: -13px;
      left: 0;
      color: #f37e96;
      &::before {
        content: attr(text);
        font: 150px "Prismatic7-Left";
        position: absolute;
        top: 10px;
        left: 0;
        color: #ee4266;
      }
    }
    &::before {
      content: attr(text);
      font: 150px "Prismatic5-Bottom";
      position: absolute;
      top: 2px;
      left: 0;
      color: #f16381;
    }
    &::after {
      content: attr(text);
      font: 150px "Prismatic8-Top";
      position: absolute;
      top: -9px;
      left: 0;
      color: #ee4266;
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    gap: 50px;
    margin-top: 30px;
    .subsection {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 150px;
      .subsection-title,
      .subsection-text {
        display: flex;
        justify-content: space-between;
        border-top: 1px solid #fffce9;
        padding: 35px 0;
      }
      .subsection-title {
        font: 32px "Prismatic4-Base";
      }
      .subsection-text {
        font: 22px "Prismatic9-Inline";
      }
    }
  }
}

//Contact section

.contact-section {
  background-color: #fffce9;
  color: black;
  height: calc(100vh - 75px);
  padding-top: 75px;
  .g-title {
    position: relative;
    font: 150px "Prismatic11-Outline";
    color: black;
    .second-layer {
      position: absolute;
      font: 150px "Prismatic6-Right";
      top: -13px;
      left: 0;
      color: #8c8e8a;
      &::before {
        content: attr(text);
        font: 150px "Prismatic7-Left";
        position: absolute;
        top: 10px;
        left: 0;
        color: #222022;
      }
    }
    &::before {
      content: attr(text);
      font: 150px "Prismatic5-Bottom";
      position: absolute;
      top: 2px;
      left: 0;
      color: #636362;
    }
    &::after {
      content: attr(text);
      font: 150px "Prismatic8-Top";
      position: absolute;
      top: -9px;
      left: 0;
      color: black;
    }
  }
  .email {
    margin: auto 0;
    font: 70px "Quick Marker";
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .credits {
      font: 20px "Prismatic4-Base";
      span {
        font: 20px "Quick Marker";
      }
    }
    .copyright {
      font: 20px "Quick marker";
    }
  }
}
