.hero-section {
  color: #fffce9;
  mix-blend-mode: difference;
  height: calc(100vh - 220px);
  padding: 0 10px;

  @include media-breakpoint-up($small) {
    height: calc(100vh - 160px);
    padding: 0 10px;
  }
  @include media-breakpoint-up($medium) {
    height: calc(100vh - 220px);
    padding: 20px;
  }

  @include media-breakpoint-up($large) {
    padding: 20px;
  }
  .logo {
    font-family: "Quick Marker", sans-serif;
    font-size: 50px;
    @include media-breakpoint-up($small) {
      font-size: 60px;
    }
    @include media-breakpoint-up($medium) {
      font-size: 78px;
    }
    span {
      opacity: 0;
    }
  }
  .intro {
    margin-top: 10px;
    position: relative;
    font-family: "Acumin Pro", sans-serif;
    font-size: 16px;
    @include media-breakpoint-up($medium) {
      font-size: 20px;
      margin-top: 20px;
    }
    @include media-breakpoint-up($medium) {
      font-size: 22px;
    }
  }
}

.project-section {
  color: #fffce9;
  padding: 0 10px;
  @include media-breakpoint-up($medium) {
    padding: 20px;
  }

  .homepage-footer {
    display: flex;
    @include media-breakpoint-up($medium) {
      justify-content: space-between;
      width: 52vw;
    }
    .white-arrow-down {
      width: 85px;
      height: 60px;
      align-self: center;
      display: none;
      @include media-breakpoint-up($small) {
        display: block;
      }
    }
  }
  .g-title {
    position: relative;
    color: #171b1a;
    font: 110px "Prismatic11-Outline";
    @include media-breakpoint-up($small) {
      font: 150px "Prismatic11-Outline";
    }
    &::before {
      content: attr(text);
      position: absolute;
      color: #e8e1cf;
      font: 70px "Prismatic5-Bottom";
      top: 38px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic5-Bottom";
        top: 3px;
        left: 0;
      }
    }
    &::after {
      content: attr(text);
      position: absolute;
      color: black;
      font: 70px "Prismatic8-Top";
      top: 34px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic8-Top";
        top: -9px;
        left: 0;
      }
    }
    .second-layer {
      position: absolute;
      color: #e8e1cf;
      font: 70px "Prismatic6-Right";
      top: 32px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic6-Right";
        top: -13px;
        left: 0;
      }
      &::before {
        content: attr(text);
        position: absolute;
        color: black;
        font: 70px "Prismatic7-Left";
        top: 4px;
        left: 0;
        @include media-breakpoint-up($small) {
          font: 150px "Prismatic7-Left";
          top: 12px;
          left: 0;
        }
      }
      &::after {
        content: attr(text);
        position: absolute;
        z-index: 2;
        color: black;
        top: 5px;
        left: 0;
        font: 70px "Prismatic10-Bevel";
        @include media-breakpoint-up($small) {
          font: 150px "Prismatic10-Bevel";
          top: 11px;
          left: 0;
        }
      }
    }
  }
  .project-container {
    display: grid;
    @include media-breakpoint-up($medium) {
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr;
    }
    padding: 20px;
    margin-bottom: 20px;
    &:hover .project-image {
      transform: translate(-10px, -10px);
      box-shadow: 10px 10px black;
    }
    &:hover .project-number,
    &:hover .project-title,
    &:hover .project-description {
      transform: translate(-10px, -10px);
      transition: all 0.3s;
      &::before {
        content: attr(text);
        font: 60px "Prismatic1-DropShadow";
        position: absolute;
        top: 3px;
        left: 0;
        color: black;
        z-index: -1;
        @include media-breakpoint-up($medium) {
          font: 100px "Prismatic1-DropShadow";
          position: absolute;
          top: 6px;
          left: 0;
          color: black;
          z-index: -1;
        }
      }
    }
    .project-info {
      display: flex;
      .project-number {
        position: relative;
        z-index: 2;
        font: 60px "Prismatic3-BaseOutline";
        @media (hover: none) {
          &::before {
            content: attr(text);
            font: 60px "Prismatic1-DropShadow";
            position: absolute;
            top: 4px;
            left: 1px;
            color: black;
            z-index: -1;
          }
        }
        @include media-breakpoint-up($medium) {
          font: 100px "Prismatic3-BaseOutline";
        }
      }
      .col {
        margin: 0 auto;
        .project-title {
          position: relative;
          z-index: 2;
          margin-bottom: 20px;
          font: 60px "Prismatic3-BaseOutline";
          @media (hover: none) {
            text-align: center;
            &::before {
              content: attr(text);
              font: 60px "Prismatic1-DropShadow";
              position: absolute;
              top: 4px;
              left: 50%;
              transform: translate(-50%);
              color: black;
              z-index: -1;
            }
          }
          @include media-breakpoint-up($medium) {
            font: 100px "Prismatic3-BaseOutline";
          }
        }
        .project-description {
          color: #fffce9;
          font: 11px "Acumin Pro";
          @include media-breakpoint-up($small) {
            font: 20px "Acumin Pro";
          }
          p {
            display: flex;
            justify-content: space-between;
          }
        }
        .description-category {
          font-weight: bold;
          margin-right: 30px;
        }
      }
    }
    .project-image {
      transition: all 0.3s;
      display: none;
      @include media-breakpoint-up($medium) {
        display: block;
      }
    }
  }
}

.about-section {
  background-color: #00272b;
  color: #fffce9;
  padding-top: 10px;
  @include media-breakpoint-up($small) {
    padding-top: 50px;
  }
  @include media-breakpoint-up($medium) {
    padding-top: 75px;
  }
  .g-title {
    position: relative;
    font: 70px "Prismatic11-Outline";
    color: #00272b;
    @include media-breakpoint-up($small) {
      font: 150px "Prismatic11-Outline";
    }
    &::before {
      content: attr(text);
      position: absolute;
      color: #f16381;
      font: 70px "Prismatic5-Bottom";
      top: 39px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic5-Bottom";
        top: 3px;
        left: 0;
      }
    }
    &::after {
      content: attr(text);
      position: absolute;
      color: #ee4266;
      font: 70px "Prismatic8-Top";
      top: 34px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic8-Top";
        top: -8px;
        left: 0;
      }
    }
    .second-layer {
      position: absolute;
      color: #f37e96;
      font: 70px "Prismatic6-Right";
      top: 32px;
      left: 0;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic6-Right";
        top: -12px;
        left: 0;
      }
      &::before {
        content: attr(text);
        position: absolute;
        color: #ee4266;
        font: 70px "Prismatic7-Left";
        top: 5px;
        left: 0;
        @include media-breakpoint-up($small) {
          font: 150px "Prismatic7-Left";
          top: 10px;
          left: 0;
        }
      }
    }
  }
  .container {
    display: grid;
    grid-template-columns: repeat (3, 1fr);
    margin-top: 50px;
    @include media-breakpoint-up($medium) {
      gap: 20px;
    }
    .subsection {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 50px;
      @include media-breakpoint-up($small) {
        gap: 100px;
      }
      @include media-breakpoint-up($medium) {
        gap: 150px;
      }
      .subsection-title,
      .subsection-text {
        border-top: 1px solid #fffce9;
        padding: 20px 0;
        @include media-breakpoint-up($medium) {
          padding: 35px 0;
        }
      }
      .subsection-title {
        font-family: "Acumin Pro";
        font-size: 16px;
        text-align: center;
        @include media-breakpoint-up($small) {
          font-size: 20px;
          text-align: end;
        }
        @include media-breakpoint-up($medium) {
          font-size: 25px;
        }
      }
      .subsection-text {
        font-family: "Acumin Pro";
        font-size: 12px;
        @include media-breakpoint-up($small) {
          font-size: 14px;
        }
        @include media-breakpoint-up($medium) {
          font-size: 18px;
        }
        li {
          margin-bottom: 10px;
        }
      }
    }
  }
}

.contact-section {
  background-color: #fffce9;
  color: black;
  height: calc(100vh - 80px);
  @include media-breakpoint-up($medium) {
    height: calc(100vh - 75px);
    padding-top: 75px;
  }

  .g-title {
    position: relative;
    font: 70px "Prismatic11-Outline";
    @include media-breakpoint-up($small) {
      font: 150px "Prismatic11-Outline";
    }

    color: black;
    .second-layer {
      position: absolute;
      font: 70px "Prismatic6-Right";
      left: 0;
      top: -7px;
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic6-Right";
        top: -13px;
      }
      color: #8c8e8a;
      &::before {
        content: attr(text);
        font: 70px "Prismatic7-Left";
        @include media-breakpoint-up($small) {
          font: 150px "Prismatic7-Left";
          top: 10px;
        }
        top: 4px;
        position: absolute;
        left: 0;
        color: #222022;
      }
    }
    &::before {
      content: attr(text);
      font: 70px "Prismatic5-Bottom";
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic5-Bottom";
        top: 2px;
      }
      position: absolute;
      top: 0px;
      left: 0;
      color: #636362;
    }
    &::after {
      content: attr(text);
      font: 70px "Prismatic8-Top";
      @include media-breakpoint-up($small) {
        font: 150px "Prismatic8-Top";
        top: -9px;
      }
      position: absolute;
      top: -5px;
      left: 0;
      color: black;
    }
  }
  .email {
    margin: auto 0;
    font: 25px "Quick Marker";
    @include media-breakpoint-up($small) {
      font: 50px "Quick Marker";
    }
    @include media-breakpoint-up($medium) {
      font: 70px "Quick Marker";
    }
  }
  footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .footer-logo {
      margin: auto 10px;
      @include media-breakpoint-up($small) {
        margin: auto 15px;
      }
    }
    .credits {
      font: 12px "Acumin Pro";
    }
    .copyright {
      font: 12px "Quick marker";
      white-space: nowrap;
    }
    @include media-breakpoint-up($small) {
      .credits {
        font: 20px "Acumin Pro";
      }
      .copyright {
        font: 20px "Quick marker";
      }
    }
  }
}
